<settings>
    <mirrors>
        <mirror>
            <id>anypoint-exchange</id>
            <mirrorOf>anypoint-exchange-v3</mirrorOf>
            <url>https://maven.anypoint.mulesoft.com/api/v3/maven</url>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>ca.anypoint.credentials</id>
            <username>~~~Client~~~</username>
            <password>${CONNECTED_APP_CLIENT_ID}~?~${CONNECTED_APP_CLIENT_SECRET}</password>
        </server>
    </servers>
</settings>
